/*** Formatação Padrão ****/
body {
    background-color: #1E1E1E;
    background-color: #000;
    color: white;
}

/*** Cabecalho ****/
.cabecalho {
    background: rgba(0, 0, 0, 0.2) url(https://s3-alpha-sig.figma.com/img/d12a/4905/31108e5fdfbd669f1a873157bce5bf32?Expires=1685318400&Signature=QwzM19RRy8o2F~UUpfTBhjkFkijthCqzHeb5ZlwzGu4s-SFlXdGsX3H~BiJPUYH1tE3nX6u6VzArg0hDkEOP~Z2mtxteD9CNB~OG6mcFn9XMDWEbH0g-DyR3PExq2f4pdf3zZlDf~qxaXbdmoV6stYnRSljUv7XlhwDBwswOzswI8ycN38Mye0uknrNYSQXsP-UTJJL0Q9kZQKovJZmH813LVeNjDmyvVO~z-Am~RGuNSGb-Z27M3mUbVTP30fhKDDJw9eYug~Iae-sO4eXYuWaiu1oHLGTlVNiyW20mk5pqU7qnAfbg4SK9dNvVAjnxvJBSHOT5m569WDUO9XPzJw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4) no-repeat bottom;
    background-blend-mode: darken;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 73vmin;
}

.cabecalho_descricao{
    margin-bottom: 20px;
}

.cabecalho_foco {
    color: #FAB005;
}

.icone_maior { 
    font-size: 1.5rem;
}

/*** Navbar ***/ 



/*** Caixa de Texto ****/
.caixa_texto {
    background-color: #202020;
    border: 1px solid #1E1E1E;
}



/*** Retirar (não é legal formatar direto a tag) ****/
a {
    color: inherit;
}

i { 
    color: white
}

