@import url(../components/cabecalho.css);
@import url(../components/filtro_busca.css);
@import url(../components/cabecalho.css);
@import url(../components/cartao_servico.css);
@import url(../components/cartao_blog.css);
@import url(../components/rodape.css);


.secao-hoteis-titulo {
    font-size: var(--fonte-grande);
    text-align: center;
} 

.secao-hoteis__texto {
    font-size: var(--fonte-pequena);
}

.secao-cartao {
    display: flex;
    flex-direction: column;
    align-items: center;

}

 .secao-hoteis-cartoes {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    overflow: hidden;   
}

 .secao__hoteis-anterior-proximo {
    align-items: center;
    display: flex;
    font-size: var(--fonte-pequena);
    justify-content: center;
    position: relative;
    gap: 2rem;
}

.secao_hoteis-span{
    color:  var(--cor-principal);
}