@import url(../components/cabecalho.css);
@import url(../components/filtro_busca.css);
@import url(../components/cabecalho.css);
@import url(../components/cartao_servico.css);
@import url(../components/paginacao.css);
@import url(../components/cartao_blog.css);
@import url(../components/rodape.css);

.hoteis {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hoteis__titulo {
    font-size: var(--fonte-grande);
    text-align: center;
}

.hoteis__titulo i {
    font-size: calc(var(--fonte-grande) * 1.5);
}

.hoteis__subtitulo {
    font-size: var(--fonte-pequena);
}

.hoteis__cartoes {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    overflow: hidden;   
}