<header class="cabecalho">
    <nav class="cabecalho__menu">
        <a class="cabecalho__menu-login" href=""><i class="fa-solid fa-user"></i> Login</a>

        <ul class="cabecalho__menu-nav">
            <li><a class="cabecalho__menu-nav-item" href="#"><i class="fa-solid fa-house"></i> Home</a></li>
            <li><a class="cabecalho__menu-nav-item" href=""><i class="fa-solid fa-comment"></i> Blog</a></li>
            <li>
                <a class="cabecalho__menu-nav-item cabecalho__menu-nav-item--titulo" href="#">
                    <h1><i class="fa-solid fa-map"></i> Traveller</h1>
                </a>
            </li>
            <li><a class="cabecalho__menu-nav-item" href="../pages/hospedagem.html"><i class="fa-solid fa-bed"></i> Hospedagem</a></li>
            <li><a class="cabecalho__menu-nav-item" href=""><i class="fa-solid fa-plane"></i> Viagens</a></li>
        </ul>

        <p class="cabecalho__menu-hamburguer" href=""><i class="fa-solid fa-bars"></i></p>
    </nav>

    <div class="cabecalho__hero">
        <p class="cabecalho__hero-frase">Seu melhor guia de viagem ao mundo todo!</p>
    </div>
</header>