<div class="cartao-servico">
    <i class="fa-solid fa-heart"></i>
    <div class="cartao-servico__imagem">
        <div class="cartao-servico__imagem-carrossel">
            <i class="fa-solid fa-circle fa-2xs cartao-servico__imagem-carrossel-item"></i>
            <i class="fa-solid fa-circle fa-2xs cartao-servico__imagem-carrossel-item"></i>
            <i class="fa-solid fa-circle fa-2xs cartao-servico__imagem-carrossel-item"></i>
            <i class="fa-solid fa-circle fa-2xs cartao-servico__imagem-carrossel-item"></i>
        </div>
    </div>
    <div class="cartao-servico__descricao">
        <div class="cartao-servico__descricao-resumo">
            <h3>Orange Hotel</h3>
            <div class="cartao-servico__descricao-resumo-color">
                <p>200km de distância</p>
                <p>5 - 31 de abril</p>
            </div>
        </div>
        <div class="cartao-servico__descricao-resumo">
            <div class="cartao-servico__descricao-icones">
                <p>4,88</p>
                <i class="fa-solid fa-star"></i>
            </div>
            <p class="cartao-servico__descricao-resumo-color">301 comentários</p>
        </div>
    </div>
    <div class="cartao-servico__descricao">
        <div class="cartao-servico__descricao-resumo">
            <p><strong>R$ 575</strong> <span class="cartao-servico__descricao-resumo-color"> apenas</span></p>
            <p>por 1 diária</p>
        </div>
        
        <div class="cartao-servico__descricao-botao botao">
            <i class="fa-solid fa-plus fa-2xs"></i>
            <i class="fa-solid fa-cart-flatbed-suitcase"></i>
        </div>
    </div>
    <div class="cartao-servico__link">
        <a>meuhotelseguro.com.br</a>
        <i class="fa-solid fa-square-up-right fa-lg cartao-servico__link-icon"></i>
    </div>
</div>