    <!-- CARTAO BLOG -->
    <article class="wrapper">
        <div class="cartao-blog">
            <div class="cartao-blog__icones-container">
                <div class="cartao-blog__icones">
                    <i class="fa-solid fa-scroll cartao-blog__icones-item"></i>
                    <i class="fa-solid fa-plus cartao-blog__icones-item"></i>
                </div>
            </div>
            <div class="cartao-blog__conteudo">
                <p>Conheça o nosso <strong>blog</strong> e fique por dentro da experiência do Gulliver com os <strong> mais diversos hotéis!</strong></p>

                <a class="cartao-blog__botao botao" href="">Quero conhecer <i class="fa-regular fa-face-smile cartao-blog__botao-item"></i></a>
            </div>
        </div>
    </article>