<div class="cartao-servico">
    <div class="cartao-servico__imagem">
        <i class="fa-regular fa-heart fa-2xl"></i>
        <div class="cartao-servico__imagem-carrossel">
            <i class="fa-solid fa-circle fa-2xs"></i>
            <i class="fa-regular fa-circle fa-2xs"></i>
            <i class="fa-regular fa-circle fa-2xs"></i>
            <i class="fa-regular fa-circle fa-2xs"></i>
        </div>
    </div>
    <div class="cartao-servico__descricao">
        <div class="cartao-servico__descricao-resumo">
            <h3>Orange Hotel</h3>
            <p>200km de distância</p>
            <p>5 - 31 de abril</p>
        </div>
        <div class="cartao-servico__descricao-resumo">
            <div class="cartao-servico__descricao-avaliacao">
                <p>4,88</p>
                <i class="fa-solid fa-star"></i>
            </div>
            <a href="">301 comentários</a>
        </div>
    </div>
    <div class="cartao-servico__descricao">
        <div class="cartao-servico__descricao-resumo">
            <p>R$ 575</p>
            <p>apenas</p>
            <p>por 1 diária</p>
        </div>
        <div class="cartao-servico__descricao-avaliacao">
            <div class="cartao-servico__descricao-botao">
                <i class="fa-solid fa-plus fa-2xs"></i>
                <i class="fa-solid fa-cart-flatbed-suitcase"></i>
            </div>
        </div>
    </div>
    <div class="cartao-servico__link">
        <a>meuhotelseguro.com.br</a>
        <i class="fa-solid fa-square-up-right fa-lg cartao-servico__link-icon"></i>
    </div>
</div>