<section class="filtro-busca">
    <div class="filtro-busca__titulo">
        <p><i class="fa-solid fa-bed"></i> Hospedagem</a></p>
    </div>

    <form class="filtro-busca__form">
        <label class="filtro-busca__form-search">Aonde você vai?
            <input type="search" required>
        </label>

        <fieldset>
            <legend>Tipo de viagem</legend>

            <div class="filtro-busca__form-tipo">
                <label>
                    <input type="radio" name="tipo-viagem" checked> Viagem <i class="fa-solid fa-plane"></i>
                </label>
                <label>
                    <input type="radio" name="tipo-viagem"> Trabalho <i class="fa-solid fa-briefcase"></i>
                </label>
                <label>
                    <input type="radio" name="tipo-viagem"> Turismo <i class="fa-solid fa-map-location-dot"></i>
                </label>
            </div>
        </fieldset>

        <fieldset class="filtro-busca__form-data">
            <label class="filtro-busca__form-data--inicial">Data inicial
                <input type="date" required>
            </label>
            <label class="filtro-busca__form-data--final">Data final
                <input type="date" required>
            </label>
        </fieldset>

        <label class="filtro-busca__form-qtde">Quartos e hóspedes
            <input type="text" value="1 quarto, 2 hóspedes" readonly>
        </label>

        <button class="filtro-busca__form-botao botao" type="submit">Buscar <i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</section>