<!-- RODAPE -->
<footer>
    <div class="rodape">
        <div class="rodape__conteudo">
            <div>
                <div class="rodape__conteudo-logo"><i class="fa-sharp fa-solid fa-map fa-2x"></i>
                    <h1>Traveller</h1>
                </div>
                <div class="rodape__conteudo-redes">
                    <i class="fa-brands fa-tiktok"></i>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>

            <div class="rodape__conteudo-navegacao">
                <ul>
                    <h3 class="rodape__conteudo-navegacao-titulo">SOBRE</h3>
                    <li><a href="#">Blogs Indicados</a></li>
                    <li><a href="#">Contato</a></li>
                    <li><a href="#">Quem é Gulliver?</a></li>
                    <li><a href="#">Descontos Exclusivos</a></li>
                    <li><a href="#">Politica de Privacidade</a></li>
                </ul>
            </div>
            <div class="rodape__conteudo-navegacao">
            <ul>
                <h3 class="rodape__conteudo-navegacao-titulo">DESTINOS</h3>
                <li><a href="#">Africa</a></li>
                <li><a href="#">América</a></li>
                <li><a href="#">Ásia</a></li>
                <li><a href="#">Europa</a></li>
            </ul>
            </div>
            <div class="rodape__conteudo-navegacao">
            <ul>
                <h3 class="rodape__conteudo-navegacao-titulo">DICAS</h3>
                <li><a href="#">Planejamento</a></li>
                <li><a href="#">Passagens</a></li>
                <li><a href="#">Road Trip</a></li>
            </ul>
            </div>
        </div>
        <div class="rodape__base">
            <p>₢ 2023 Gulliver Traveller Todos os direitos reservados</p>
        </div>
    </div>
</footer>