article {
    display: flex;
    justify-content: center;
}

.cartao-blog {
    border: 1px solid var(--cinza-claro);
    border-radius: var(--arredondamento);
    display: flex;
    width: 100%;
}

.cartao-blog__icones-container {
    align-items: center;
    background-color: var(--cinza-claro);
    border-bottom-left-radius: var(--arredondamento);
    border-top-left-radius: var(--arredondamento);
    display: flex;
    justify-content: center;
    padding: 2em 1em;
    min-width: 35%;
}

.cartao-blog__icones {
    position: relative;
}

.cartao-blog__icones-item:first-child {
    color: var(--cor-principal);
    font-size: calc(var(--fonte-grande) * 2.5);
    -webkit-text-stroke-color: var(--preto);
    -webkit-text-stroke-width: 1px;
}

.cartao-blog__icones-item:last-child {
    bottom: -.5em;
    font-size: var(--fonte-grande);
    font-weight: 900;
    position: absolute;
}

.cartao-blog__conteudo {
    align-items: center;
    font-size: var(--fonte-pequena);
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    padding: 1.5em 1em;
    text-align: center;
}

.cartao-blog__botao {
    padding-block: .5em;
    width: 90%;
}


/******* BREAKPOINT DESKTOP *******/
@media (min-width: 1024px) {
    .cartao-blog__icones-container {
        min-width: 20%;
    }

    .cartao-blog__conteudo {
        flex-direction: row;
        padding: 1em 3em;
    }

    .cartao-blog__botao {
        padding: .5em 1em;
        width: 30%;
    }
}