.cartao {
    position: relative;
    width: 328px;
    height: 319px;
    border: solid #BEBCBC 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: 20px;
}

/** area 1 cartao__imagem **/

.cartao__imagem {
    width: 100%;
    height: 48%;
    left: 0px;
    top: 0px;
    background-size: cover;
    background-image: url(https://th.bing.com/th/id/OIP.pj-PmJJj6ocgSeTKrcOA2wHaE8?pid=ImgDet&rs=1);
    border-radius: 7px 7px 0px 0px;
}

.cartao__imagem > i {
    top: 15%;
    left: 85%;
    position: absolute;
    color: white
}

.cartao__imagem-carrossel {
    position: relative;
    display: flex;
    justify-content: center;
    top: 95%;    
}

.cartao__imagem-carrossel > i {
    color: white;
    padding-right: 5px;
}

/** area 2 cartao__descricao **/

.cartao__descricao {
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px 0px 20px;
}

.cartao__descricao-resumo {
    display: flex;
    flex-direction: column;
}

.cartao__descricao-avaliacao {
    display: flex;
    flex-direction: row-reverse;
    
}

.cartao__descricao-botao {
    background-color: #FAB005;
    height: 30px;
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** area 3 cartao__link **/

.cartao__link {
    height: 7%;
    width: 100%;
    color: white;
    background-color: #BEBCBC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartao__link-icon {
    position: relative;
    margin-left: 5px;
    color: white;
}